main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/*-------INPUT FORM-------*/
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 36px;
  padding-bottom: 32px;
}
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 10px;
}
input:hover {
  border: 1px solid #000;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: auto;
  height: 44px;
  background: #4e75ff;
  border: none;
}

button:hover {
  background: #6c8cff;
}

/*---------GALLERY-------*/
/*.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
  }*/

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 1128px;
  margin-bottom: 36px;
}

.gallery__image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery__image:hover {
  cursor: pointer;
}

/*---------INFO CARD-------*/

.photo-card {
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: transform 0.3s ease;
}

.photo-card:hover {
  transform: scale(1.02);
}

.gallery__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.info {
  display: flex;
  font-display: row;
  justify-content: space-evenly;
  padding: 20px 4px 20px 4px;
}
.info p {
  text-align: center;
}
